<h1>Input</h1>
<lu-input icon="search"></lu-input>

<h1>Solid</h1>
<button type="button" lu-button appearance="outline">Primary</button>
<button type="button" lu-button appearance="outline" color="warning">Warning</button>
<button type="button" lu-button appearance="outline" color="success">Success</button>
<button type="button" lu-button appearance="outline" color="error">Error</button>
<button type="button" lu-button appearance="outline" color="secondary">Secondary</button>
<br>
<button type="button" lu-button appearance="outline" theme="pilled">Primary</button>
<button type="button" lu-button appearance="outline" theme="pilled" color="warning">Warning</button>
<button type="button" lu-button appearance="outline" theme="pilled" color="success">Success</button>
<button type="button" lu-button appearance="outline" theme="pilled" color="error">Error</button>
<button type="button" lu-button appearance="outline" theme="pilled" color="secondary">Secondary</button>
<br>
<button type="button" lu-button>Primary</button>
<button type="button" lu-button color="warning">Warning</button>
<button type="button" lu-button color="success">Success</button>
<button type="button" lu-button color="error">Error</button>
<button type="button" lu-button color="secondary">Secondary</button>
<br>
<button type="button" lu-button theme="pilled">Primary</button>
<button type="button" lu-button theme="pilled" color="warning">Warning</button>
<button type="button" lu-button theme="pilled" color="success">Success</button>
<button type="button" lu-button theme="pilled" color="error">Error</button>
<button type="button" lu-button theme="pilled" color="secondary">Secondary</button>

<h1>Disabled buttons</h1>
<button type="button" lu-button disabled appearance="outline" theme="pilled">Primary</button>
<button type="button" lu-button disabled appearance="outline" theme="pilled" color="warning">Warning</button>
<button type="button" lu-button disabled appearance="outline" theme="pilled" color="success">Success</button>
<button type="button" lu-button disabled appearance="outline" theme="pilled" color="error">Error</button>
<button type="button" lu-button disabled appearance="outline" theme="pilled" color="secondary">Secondary</button>
<br>
<button type="button" lu-button disabled appearance="outline">Primary</button>
<button type="button" lu-button disabled appearance="outline" color="warning">Warning</button>
<button type="button" lu-button disabled appearance="outline" color="success">Success</button>
<button type="button" lu-button disabled appearance="outline" color="error">Error</button>
<button type="button" lu-button disabled appearance="outline" color="secondary">Secondary</button>
<br>
<button type="button" lu-button disabled theme="pilled">Primary</button>
<button type="button" lu-button disabled theme="pilled" color="warning">Warning</button>
<button type="button" lu-button disabled theme="pilled" color="success">Success</button>
<button type="button" lu-button disabled theme="pilled" color="error">Error</button>
<button type="button" lu-button disabled theme="pilled" color="secondary">Secondary</button>
<br>
<button type="button" lu-button disabled >Primary</button>
<button type="button" lu-button disabled color="warning">Warning</button>
<button type="button" lu-button disabled color="success">Success</button>
<button type="button" lu-button disabled color="error">Error</button>
<button type="button" lu-button disabled color="secondary">Secondary</button>

<h1>Small buttons</h1>
<button type="button" lu-button size="small">Primary</button>
<button type="button" lu-button size="small" color="warning">Warning</button>
<button type="button" lu-button size="small" color="success">Success</button>
<button type="button" lu-button size="small" color="error">Error</button>
<button type="button" lu-button size="small" color="secondary">Secondary</button>

<h1>Large buttons</h1>
<button type="button" lu-button size="large">Primary</button>
<button type="button" lu-button size="large" color="warning">Warning</button>
<button type="button" lu-button size="large" color="success">Success</button>
<button type="button" lu-button size="large" color="error">Error</button>
<button type="button" lu-button size="large" color="secondary">Secondary</button>


<router-outlet></router-outlet>
