<button type="button" lu-button color="white" [outline]="true">white</button>
<button type="button" lu-button color="primary" [outline]="true">primary</button>
<button type="button" lu-button color="warning" [outline]="true">warning</button>
<button type="button" lu-button color="danger" [outline]="true">danger</button>
<button type="button" lu-button color="success" [outline]="true">success</button>
<br><br>
<button type="button" lu-button color="white">white</button>
<button type="button" lu-button color="primary">primary</button>
<button type="button" lu-button color="warning">warning</button>
<button type="button" lu-button color="danger">danger</button>
<button type="button" lu-button color="success">success</button>

<br><br>
<button type="button" lu-button size="small" color="white">white</button>
<button type="button" lu-button size="small" color="primary">primary</button>
<button type="button" lu-button size="small" color="warning">warning</button>
<button type="button" lu-button size="small" color="danger">danger</button>
<button type="button" lu-button size="small" color="success">success</button>

<br><br>
<button type="button" lu-button size="large" color="white">white</button>
<button type="button" lu-button size="large" color="primary">primary</button>
<button type="button" lu-button size="large" color="warning">warning</button>
<button type="button" lu-button size="large" color="danger">danger</button>
<button type="button" lu-button size="large" color="success">success</button>


<router-outlet></router-outlet>
