<button lu-button color="red">Red</button>
<button lu-button color="orange">Orange</button>
<button lu-button color="yellow">Yellow</button>
<button lu-button color="olive">Olive</button>
<button lu-button color="green">Green</button>
<button lu-button color="teal">Teal</button>
<button lu-button color="blue">Blue</button>
<button lu-button color="violet">Violet</button>
<button lu-button color="purple">Purple</button>
<button lu-button color="pink">Pink</button>
<button lu-button color="brown">Brown</button>
<button lu-button color="grey">Grey</button>
<button lu-button color="black">Black</button>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <lu-form-input formControlName="name" placeholder="Enter your name" />
    <lu-form-input formControlName="email" type="email" placeholder="Enter your email" />
    <button type="submit" lu-button color="grey" size="tiny">Submit</button>
</form>

<router-outlet />
