<h3>Icons</h3>
<div>
    <lu-icon icon="email" color="gray" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="red" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="orange" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="yellow" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="green" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="teal" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="blue" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="cyan" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="purple" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="pink" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
    <lu-icon icon="email" color="white" size="lg" [boxed]="true" [hovered]="true"></lu-icon>
</div>
<div>
    <lu-icon icon="email" color="gray" size="xs"></lu-icon>
    <lu-icon icon="email" color="red" size="sm"></lu-icon>
    <lu-icon icon="email" color="orange" size="md"></lu-icon>
    <lu-icon icon="email" color="yellow" size="lg"></lu-icon>
    <lu-icon icon="email" color="green" size="xl"></lu-icon>
    <lu-icon icon="email" color="teal" size="2xl"></lu-icon>
    <lu-icon icon="email" color="blue" size="3xl"></lu-icon>
</div>
<div>
    <lu-icon icon="bell" color="gray" [boxed]="true" [outlined]="true" size="xs"></lu-icon>
    <lu-icon icon="bell" color="red"  [boxed]="true" [outlined]="true"size="sm"></lu-icon>
    <lu-icon icon="bell" color="orange" [boxed]="true" [outlined]="true" size="md"></lu-icon>
    <lu-icon icon="bell" color="yellow" [boxed]="true" [outlined]="true" size="lg"></lu-icon>
    <lu-icon icon="bell" color="green" [boxed]="true" [outlined]="true" size="xl"></lu-icon>
    <lu-icon icon="bell" color="teal" [boxed]="true" [outlined]="true" size="2xl"></lu-icon>
    <lu-icon icon="bell" color="blue" [boxed]="true" [outlined]="true" size="3xl"></lu-icon>
</div>